
.dropdownVisible{
    padding: 10px 15px;
    transition: 0.25s;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.dropdown{
    height: max-content;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: #0D47A1;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
}

.dropdownContent{
    display: none;
    position: absolute;
    width: 100%;
    top: 32px;
    border: 1px solid white;
    border-bottom: 5px solid #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -1px;
}

.dropdownItem{
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    color: #0D47A1;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.dropdownItem:hover{
    background: #eee;
}

.dropdown:hover .dropdownVisible{
    background: white;
    color: #0D47A1;
    transition: 0.25s;
}
.dropdown:hover .dropdownContent{
    display: block;
}
.dropdown:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
